.care-cont{
    height: 80vh;
   
}
.cere par{
    h1{
        font-size: 2.5rem;
    text-decoration: underline;
    text-transform: capitalize;
    background-color: blue;
}
}
.par1{
   
    display: flex;
    gap: 2rem;
    padding: 1rem;
   justify-content:space-evenly;
  
    p{
        font-size: 1.4rem;
    }
    h3{
        padding: .8rem;
         text-align: center;
    }
}

.par2{
   
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-between;
    p{
        font-size: 1.4rem;
    }
    h3{
        padding: .8rem;
        text-align: center;
    }
}

.par3{
  
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-between;
    p{
        font-size: 1.4rem;
    }
    h3{
        padding: .8rem;
        text-align: center;
    }
}

.par4{
   
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-between;
    p{
        font-size: 1.4rem;
    }
    h3{
        padding: .8rem;
        text-align: center;
    }
}