.care-cont{
    height: 80vh;
    background-color: aquamarine;
}
.cere par{
    h1{
        font-size: 2.5rem;
    text-decoration: underline;
    text-transform: capitalize;
    background-color: blue;
}
}
.par1{
    background-color: deeppink;
    display: flex;
    gap: 5rem;
    padding: 1rem;
    justify-content: space-between;
    p{
        font-size: 1.4rem;
    }
}