.effect-container{
    height: 100%;
    // background-color: rgba(0, 0, 255, 0.767);
   
}
.picc-slider{
    width: 100%;

}
.cont1{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    p{
        font-size: 1.5rem;
        
    }
    img{
        width: 100%;
        margin-left: 0%;
        border-radius: 20px;
    }
    h3{
        font-size: 2rem;
        text-align: center;
        padding: 20px;
    }
}

.cont2{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
   
    p{
        font-size: 1.5rem;
        
    }
    img{
        width: 100%;
        margin-left: 0%;
        border-radius: 2rem;
    }
    h3{
        font-size: 20px;
        text-align: center; 
        padding: 20px;
    }
}

.cont3{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    p{
        font-size: 1.5rem;
        
    }
    img{
        width: 100%;
        margin-left: 0%;
        border-radius: 2rem;
        height: 50vh;
        
    }
    h3{
        font-size: 2rem;
        text-align: center;
        padding: 20px;
    }
}
.eff{
    width: 100%;
    
}
h1{
    background-color: rgba(0, 0, 255, 0.7);
    padding: 10px;
    color:white;
}