.home-container{
    height: 80vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7BTPvMJXmkhTRJf9WETqO2ayh4Khs7GI75g&usqp=CAU);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
  margin-bottom: 0%;
.h1{
position: absolute;
top: 25%;
font-size: 2.5rem;
text-align: center;
text-transform: capitalize;
text-shadow: 2px 2px rgb(7, 7, 7);
color: white;
}
}