nav{
    background-color: rgba(0, 128, 0, 0.804);
    position: sticky;
    margin-top: 0%;
    padding-top: 0%;
    box-shadow: 1px 2px 1px rgb(105, 104, 104);
    
}
// .heading{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

// }
ul{
    display: flex;
    // justify-content: space-between;
    gap: 20px;
    //  margin-right: 5rem;
     padding: 10px;
    margin-left: 25%;
}
li{
    list-style-type: none;
    font-size: 15px;
   
}
li a{
   color: white;
    text-decoration: none;
     text-align: center;
    //  margin-left: 20px;
    }
    // img{
    //   width: 20%;
    //   margin-left: 5rem;
    //   align-items: center;
    // }
    
    // @media(max-width:1330px){
    //     li{
    //         font-size: 1rem;
            
            
    //     }
    //     li a{
    //        color: grey; 
    //     }
    //     img{
    //         width:100%

    //     }
    //         }
    //         @media(max-width:1314px){
    //             li{
    //                 font-size: 3rem;
                    
    //             }
    //             img{
    //                 width:60%
    //             }
    //                 }

    //                 @media(max-width:890px){
    //                     .heading{
    //                         display: flex;
    //                         flex-direction: column;
                            
    //                     }
    //                     img{
    //                         width:60%
    //                     }
    //                         }
    //                         @media(max-width:718px){
    //                             ul{
    //                                 display: grid;
    //                                 grid-template-columns:auto auto auto ;
    //                                 font-size: 10px;
                                    
    //                             }
    //                             img{
    //                                 width:60%
    //                             }
    //                                 }