.moreImportant{
    background-color: rgba(105, 90, 205, 0.794);
    height: auto;
}
.moremean{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    color: blue;
    
}